[submodule "helloWorldAgain"]
	path = submods/helloWorldAgain
	url = git://github.com/thepandaclause/helloWorldAgain
[submodule "submods/awholenewworld"]
	path = submods/awholenewworld
	url = git://github.com/thepandaclause/awholenewworld.git
[submodule "submods/moarsubmods"]
	path = submods/moarsubmods
	url = git://github.com/thepandaclause/moarsubmods.git
